<div class="site-index">
    <div class="row">
        <div class="col-lg-12">
            <h2>Customers</h2>
            <table class="table table-striped table-hover">
                <tr>
                    <td>ID</td>
                    <td>Full name</td>
                    <td>Status</td>
                </tr>
                {% for customer in model.getFiveLastAdded() %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.status }} <br>
                            <a href="/skeleton/site/services?id={{ customer.id }}" class="btn btn-info btn-xs">Services</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
