<div class="site-index">
    <h2>Internet services</h2>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <tr class="warning">
                    <th>ID</th>
                    <th>Price ($)</th>
                    <th>Status</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
                {% for service in model.getInternetServices() %}
                    <tr>
                        <td>{{ service.tariff_id }}</td>
                        <td>{{ service.unit_price|round(1,'floor') }}</td>
                        <td>{{ service.status }}</td>
                        <td>{{ service.start_date }}</td>
                        <td>{{ service.end_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <h2>Voice services</h2>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <tr class="warning">
                    <th>ID</th>
                    <th>Price ($)</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
                {% for service in model.getVoiceServices() %}
                    <tr>
                        <td>{{ service.tariff_id }}</td>
                        <td>{{ service.unit_price|round(1,'floor') }}</td>
                        <td>{{ service.phone }}</td>
                        <td>{{ service.status }}</td>
                        <td>{{ service.start_date }}</td>
                        <td>{{ service.end_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <h2>Other services</h2>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <tr class="warning">
                    <th>ID</th>
                    <th>Price ($)</th>
                    <th>Status</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
                {% for service in model.getCustomServices() %}
                    <tr>
                        <td>{{ service.tariff_id }}</td>
                        <td>{{ service.unit_price|round(1,'floor') }}</td>
                        <td>{{ service.status }}</td>
                        <td>{{ service.start_date }}</td>
                        <td>{{ service.end_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <a href="#" onclick="window.history.back()" class="btn btn-info">Back</a>
</div>
